In [22]:
# Import required packages/ libraries/ frameworks from requirements.txt
import pandas as pd
import os
import re

In [23]:
# Load Data
def load_file(file_path):

    # converts filepath extension to lowercase
    ext = os.path.splitext(file_path)[-1].lower()

    # Handle .csv files
    """pd.read_csv expects a file path as its argument - above line of code will not work
    because it is being passed a DataFrame/ Series object created by load file method and saved
    to variable named 'file'
    """
    if ext == '.csv':
        return pd.read_csv(file_path)

    # Handle excel spreadsheet files
    elif ext in ['.xls', '.xlsx']:
        return pd.read_excel(file_path)
    
    # All other files
    else:
        raise ValueError("Unsupported file type")

In [24]:
# Create pandas DataFrame from ORIGINAL file on filePath
# df = pd.read_csv(r'C:\Users\Cessn\OneDrive\Desktop\data_cleanser\gamezone-orders-data\gamezone-orders-data.csv')
df = pd.read_excel(r'C:\Users\Cessn\OneDrive\Desktop\data_cleanser\gamezone-orders-data\gamezone-orders-data.xlsx')
print(df.info())
# print("\n", df.count)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   USER_ID                  21864 non-null  object
 1   ORDER_ID                 21864 non-null  object
 2   PURCHASE_TS              21864 non-null  object
 3   SHIP_TS                  21864 non-null  datetime64[ns]
 4   PRODUCT_NAME             21864 non-null  object
 5   PRODUCT_NAME_CLEANSED    21864 non-null  object
 6   PRODUCT_ID               21864 non-null  object
 7   USD_PRICE                21859 non-null  float64
 8   PURCHASE_PLATFORM        21864 non-null  object
 9   MARKETING_CHANNEL        21781 non-null  object
 10  ACCOUNT_CREATION_METHOD  21781 non-null  object
 11  COUNTRY_CODE             21826 non-null  object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 2.0+ MB
None

In [25]:
# file = load_file(r"example_import.csv")
# THIS WORKS BUT MIGHT BE REDUNDANT
file_toBe_cleansed = load_file(r'C:\Users\Cessn\OneDrive\Desktop\data_cleanser\gamezone-orders-data\gamezone-orders-data.xlsx')
# print(df.info())
# Will this work > cleansed_file = df?
# print(file)

# df = pd.read_csv(file) > WILL NOT WORK - Yields TypeError: argument of type 'method' is not iterable (DO NOT DELETE!) df.columns reference = https://www.geeksforgeeks.org/python/python-pandas-dataframe-columns/

In [26]:
# DATA CLEANSING FUNCTIONS

# Clean column names
''' Captures all column names in DataFrame + Does following actions:
1. Strip whitespace (both left/right side of string)
2. Convert column names to all lowercase
3. Locates regex pattern specified (replaces any char that is NOT a letter or number with an underscore)
4. str.strip('_') removes any underscore characters at start/ end of string 
(https://www.w3schools.com/python/ref_string_strip.asp)
'''
def clean_column_names(df):
    df.columns = (
        df.columns.str.strip()
                  .str.lower()
                  .str.replace(r'[^a-z0-9]+', '', regex=True)
                  .str.strip('_')
    )
    return df

#CALL FUNCTION 
# cleansed_file = clean_column_names(df)

In [27]:
# Remove blank rows & duplicate rows
def remove_blanks_and_duplicates(df):

    # https://www.w3schools.com/python/pandas/ref_df_dropna.asp
    # https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp
    df.dropna(how='all', inplace=True) 
    df.drop_duplicates(inplace=True)
    return df

# CALL FUNCTION
# cleansed_file = remove_blanks_and_duplicates(df)

In [28]:
# # Strip leading/trailing whitespace and fix casing
def normalize_strings(df):

    '''Note: df.select_dtypes returns a subset of columns
    in DataFrame based on column data type (dtype)
    SOURCE: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html'''

    for col in df.select_dtypes(include='object'):
        df[col] = df[col].astype(str).str.strip()
        #df[col] = df[col].str.replace(r'\W', '', regex=True) # remove all non-digit chars

        # regex pattern removes any characters that are not letters and/or numbers
        # works to remove replacement character (black diamond w/ white question mark in excel)
        df[col] = df[col].str.replace(r'[^a-zA-Z0-9]', '', regex=True)
    return df
# CALL FUNCTION
cleansed_file = normalize_strings(df)

In [29]:
# # Handle missing values (customize as needed) - MORE TESTING REQUIRED
def fill_missing(df):
    for col in df.columns:
        if df[col].dtype == 'float64' or df[col].dtype == 'int64':
            df[col].fillna(df[col].median(), inplace=True)
        else:
            df[col].fillna("MISSING", inplace=True)
    return df
# CALL FUNCTION
# cleansed_file = fill_missing(df)

In [31]:
# Standardize Dates - Work ONLY w/ any year/date/month or date/ time columns in dataset
def normalizeDates(df):
    for col in df.select_dtypes(include='number'):
        print("Column names: ", df.columns)
        print("Data types: ", df.dtypes)

        if "years" in df.columns:
        # Match specific type of pattern in text columns
     
            
   

                    # Check if value matches regex pattern
            # yearRegexPattern = re.compile(r'((\d{4})(\d{4}))')
            # date_Pattern = re.compile(r'((\d{4})(\d{4}))')
            date_pattern = re.compile(r'(\d{4})(\d{4})|(\d{2}).(\d{2}).(\d{4})') #20002001 OR 08/14/2025
            searchText = '20232024'

            # mo = matching object
            # mo = yearRegexPattern.search(searchText)
    
            #capture matching objects groups
            match1 = date_pattern.search(searchText)
            if match1:
                print("match1 is: ", match1.group(0), match1.group(1), match1.group(2))
            
        # y = mo.group(2)
        # print("Y is: ", type(y))
        # z = mo.group(3)
        # print("Z s: ", type(z))

        # normalizedYearx = f"{x}"
        # normalizedYeary = f"{y}"
        # normalizedYearz= f"{z}"
        

            df[col] = df[col].str.replace('20232024', 'TEST', regex=True) # remove all non-digit chars

    # # #     # # regex pattern removes any characters that are not letters and/or numbers
    # # #     # # works to remove replacement character (black diamond w/ white question mark in excel)
    # #         df[col] = df[col].str.replace(yearRegexPattern, normalizedYearx + normalizedYeary, regex=True)
            # return df

    #     #Regex pattern to be searched in string
    # unformattedDate = (r'((\d{4})(\d{4}))')
        
    # Compiles regular expression PATTERN to be tested/matched into regex object
    # this optimizes pattern for repeated use/ reusability
    #     yearRegexPattern = re.compile(r'((\d{4})(\d{4}))')

    #     # mo = matching object
    #     mo = yearRegexPattern.search('20232024')

    #     #capture matching objects groups
    #     x = mo.group(1)
    #     y = mo.group(2)

    #     normalizedYearx = f"{x}"
    #     normalizedYeary = f"{y}"
        

    # #     # #df[col] = df[col].str.replace(r'\W', '', regex=True) # remove all non-digit chars

    # #     # # regex pattern removes any characters that are not letters and/or numbers
    # #     # # works to remove replacement character (black diamond w/ white question mark in excel)
        # df['years'] = df['years'].str.replace(yearRegexPattern, normalizedYeary+ normalizedYearz, regex=True)


        return df
#cleansed_file = normalizeDates(df)
# print(cleansed_file)

In [57]:
# STANDARDIZE CATEGORIES

# Standardize Dates - Work ONLY w/ any year/date/month or date/ time columns in dataset
def standardizeCategories(df):
    # Dictionary of product keys and replacement values
    products_Dict = {
        # "PRODUCT_NAME":, :"STANDARDIZED REPLACEMENT TEXT"
        "28in4Kgamingmonitor": "Monitor: Gaming-28 in - 4K",
        "28inches4Kgamingmonitor": "Monitor: Gaming-28 in - 4K",
        "Acer Nitro V Gaming Laptop": "Computer: Laptop",
    }

    for col in df.select_dtypes(include="object"):
        if "PRODUCT_NAME" in df.columns:
            # df["PRODUCT_NAME_CLEANSED"]= df["PRODUCT_NAME_CLEANSED"].replace({"27in4Kgamingmonitor": "Monitor: Gaming-28 in - 4K",})
            
            # df = df.replace({"27in4Kgamingmonitor": "Monitor: Gaming-28 in - 4K",}) - THIS WORKS ON ENTIRE DATAFRAME NOT JUST SPECIFIC COLUMNS
            df["PRODUCT_NAME_CLEANSED"]= df["PRODUCT_NAME_CLEANSED"].replace({"NintendoSwitch": "Gaming Console: Nintendo Switch",
                                                                             "SonyPlayStation5Bundle": "Bundle: Sony Playstation 5",})

            """ NOTES: non-dictionary like objects to replace multiple string values within a DataFrame OR Series will not work 
            in future releases of Pandas
            
            Suggested to pass dictionary object direct to .replace() method for multiple replacements
            DO NOT reference a previously created dictionary as shown w/ products_Dict as this may work now , but not in future Pandas
            updates!"""
            
            # return df.loc[:, "PRODUCT_NAME"]
            
        # return False
        return df


# Call Function
cleansed_file = standardizeCategories(df)
print(cleansed_file)

        USER_ID           ORDER_ID     PURCHASE_TS    SHIP_TS  \
0      2c06175e   0001328c3c220830  20201224000000 2020-12-13
1      ee8e5bc2  0002af7a5c6100772  20201001000000 2020-09-21
2      9eb4efe0   0002b8350e167074  20200421000000 2020-02-16
3      cac7cbaf   0006d06b98385729  20200407000000 2020-04-04
4      6b0230bc   00097279a2f46150  20201124000000 2020-08-02
...         ...                ...             ...        ...
21859  e432cf6f   fff0b6a1e9996384  20191127000000 2019-11-29
21860  f4f11c04  fff4592dc6d103535  20191223000000 2019-12-26
21861  f4f11c04  fff4592dc6d103537  20191223000000 2019-12-26
21862  203ce4dd   fff829b061e16171  20210131000000 2021-02-02
21863  203ce4dd   fff829b061e16172  20210131000000 2021-02-02

                 PRODUCT_NAME            PRODUCT_NAME_CLEANSED PRODUCT_ID  \
0              NintendoSwitch  Gaming Console: Nintendo Switch       e682
1              NintendoSwitch  Gaming Console: Nintendo Switch       e682
2              NintendoSwitch  Gaming Console: Nintendo Switch       8d0d
3      SonyPlayStation5Bundle       Bundle: Sony Playstation 5       54ed
4              NintendoSwitch  Gaming Console: Nintendo Switch       8d0d
...                       ...                              ...        ...
21859  SonyPlayStation5Bundle       Bundle: Sony Playstation 5       54ed
21860     27in4Kgamingmonitor       Monitor: Gaming-27 in - 4K       891b
21861     27in4Kgamingmonitor       Monitor: Gaming-27 in - 4K       891b
21862         DellGamingMouse                  DellGamingMouse       8d4f
21863         DellGamingMouse                  DellGamingMouse       8d4f

       USD_PRICE PURCHASE_PLATFORM MARKETING_CHANNEL ACCOUNT_CREATION_METHOD  \
0         168.00           website         affiliate                 unknown
1         160.61           website            direct                 desktop
2         151.20           website            direct                 desktop
3        1132.82           website            direct                 desktop
4          33.89           website            direct                 desktop
...          ...               ...               ...                     ...
21859    1527.06           website            direct                 desktop
21860     467.88           website            direct                 desktop
21861     467.88           website            direct                 desktop
21862      67.07         mobileapp            direct                 desktop
21863      67.07         mobileapp            direct                 desktop

      COUNTRY_CODE
0               US
1               DE
2               US
3               AU
4               TR
...            ...
21859           US
21860           US
21861           US
21862           GB
21863           GB

[21864 rows x 12 columns]

In [ ]:
# df["years"] = pd.to_datetime(df["years"]) #DO NOT DELETE
        #df["years"] = df["years"].dt.strftime('%Y'+'-'+'%Y') #DO NOT DELETE
        

    
# # print(df['years'].str.replace(r'((\d{4})(\d{4}))', "testMe", regex=True)) - DO NOT DELETE
# df['years'] = df['years'].str.replace(r'((\d{4})(\d{4}))', "someString", regex=True) #- DO NOT DELETE
# # df['years'] = df['years'].re.sub(r'((\d{4})(\d{4}))', r'((\d{4}) (\d{4}))') #- DO NOT DELETE

In [ ]:
   """
   Working regex patterns:
   (\d{4})|(\d{2}.\d{2}.\d{4}) - #20002001 OR 08/14/2025 08-14-2025 etc
   (\d{4})(\d{4})|(\d{2}).(\d{2}).(\d{4}) - Individual matching groups - research how match groups work
   """

In [ ]:
# WRITE CLEANSED FILE AS OUTPUT
cleansed_file.to_csv("concert_tours_by_women_TEST_NEW.csv")
print(f"Cleaned data saved!")

# Run full cleaning pipeline
def clean_data(file_path, output_path):
    df = load_file(file_path)
    print(f"Loaded {len(df)} rows and {len(df.columns)} columns.")

    df = clean_column_names(df)
    df = remove_blanks_and_duplicates(df)
    df = normalize_strings(df)
    df = fill_missing(df)

    df.to_csv(output_path, index=False)
    print(f"Cleaned data saved to: {output_path}")

# Example usage
if __name__ == "__main__":
    input_file = "example_input.csv"
    output_file = "cleaned_output.csv"
    clean_data(input_file, output_file)