In [1]:
%pip install import-ipynb
import import_ipynb
import load_data
import clean_column_names
import write_file_as_output
import normalize_strings
import fill_missing_values
import text_to_numeric
import drop_columns
import pandas as pd


df = load_data.load_file(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\concert_tours_by_women\concert_tours_by_women_ORIGINAL.csv')
print("FILE LOADED: \n\n ", "\n")

file_toBe_cleansed = load_data.load_file(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\concert_tours_by_women\concert_tours_by_women_ORIGINAL.csv')
print("FILE LOADED: \n\n ", file_toBe_cleansed, "\n")

#cleansed_file = clean_column_names.clean_column_names(file_toBe_cleansed)
# print("CLEANSED FILE: \n" ,cleansed_file, "\n")

#cleansed_file = normalize_strings.normalize_strings(file_toBe_cleansed)
# print("CLEANSED FILE w/ strings normalized: \n" ,cleansed_file ,"\n")

# #cleansed_file = fill_missing_values.fill_missing(file_toBe_cleansed)
# print("CLEANSED FILE w/ missing values filled: \n" ,cleansed_file ,"\n")

# #cleansed_file = text_to_numeric.text_to_numeric(file_toBe_cleansed)
# print("CLEANSED FILE w/ numbers converted to numeric values: \n" ,cleansed_file ,"\n")

cleansed_file = drop_columns.drop_columns(file_toBe_cleansed)
print("CLEANSED FILE: COLUMNS DROPPED: \n" ,cleansed_file ,"\n")

write_file_as_output.output_file(cleansed_file)

Requirement already satisfied: import-ipynb in c:\users\cessn\miniconda3\lib\site-packages (0.2)
Requirement already satisfied: IPython in c:\users\cessn\miniconda3\lib\site-packages (from import-ipynb) (9.2.0)
Requirement already satisfied: nbformat in c:\users\cessn\miniconda3\lib\site-packages (from import-ipynb) (5.10.4)
Requirement already satisfied: colorama in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.4.6)
Requirement already satisfied: decorator in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (2.19.1)
Requirement already satisfied: stack_data in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (5.14.3)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\cessn\miniconda3\lib\site-packages (from nbformat->import-ipynb) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\cessn\miniconda3\lib\site-packages (from nbformat->import-ipynb) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\cessn\miniconda3\lib\site-packages (from nbformat->import-ipynb) (5.7.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\cessn\miniconda3\lib\site-packages (from jedi>=0.16->IPython->import-ipynb) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.25.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\cessn\miniconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->import-ipynb) (4.3.7)
Requirement already satisfied: pywin32>=300 in c:\users\cessn\miniconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->import-ipynb) (310)
Requirement already satisfied: wcwidth in c:\users\cessn\miniconda3\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->IPython->import-ipynb) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\cessn\miniconda3\lib\site-packages (from stack_data->IPython->import-ipynb) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\cessn\miniconda3\lib\site-packages (from stack_data->IPython->import-ipynb) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\cessn\miniconda3\lib\site-packages (from stack_data->IPython->import-ipynb) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB
FILE READ:

  None
    rank   peak all_time_peak     actual_gross adjusted_gross_in_2022_dollars  \
0      1      1             2     $780,000,000                   $780,000,000
1      2      1          7[2]     $579,800,000                   $579,800,000
2      3   1[4]          2[5]     $411,000,000                   $560,622,615
3      4   2[7]         10[7]     $397,300,000                   $454,751,555
4      5   2[4]           NaN     $345,675,146                   $402,844,849
5      6   2[4]         10[9]     $305,158,363                   $388,978,496
6      7  2[10]           NaN     $280,000,000                   $381,932,682
7      7    NaN           NaN     $257,600,000                   $257,600,000
8      9    NaN           NaN     $256,084,556                   $312,258,401
9     10    NaN           NaN     $250,400,000                   $309,141,878
10    11    NaN           NaN  $229,100,000[b]                   $283,202,896
11    12    NaN        14[17]     $227,400,000                   $295,301,479
12    13    NaN           NaN     $204,000,000                   $251,856,802
13    14  1[20]           NaN     $200,000,000                   $299,676,265
14    15   2[c]           NaN     $194,000,000                   $281,617,035
15    16    NaN           NaN     $184,000,000                   $227,452,347
16    17    NaN           NaN     $170,000,000                   $213,568,571
17    18    NaN           NaN     $169,800,000                   $207,046,755
18    19    NaN           NaN  $167,700,000[e]                   $204,486,106
19    20    NaN           NaN     $150,000,000                   $185,423,109

          artist                                tour_title     year_s  shows  \
0   Taylor Swift                           The Eras Tour †  2023–2024     56
1        Beyoncé                    Renaissance World Tour       2023     56
2        Madonna               Sticky & Sweet Tour ‡[4][a]  2008–2009     85
3           Pink               Beautiful Trauma World Tour  2018–2019    156
4   Taylor Swift                   Reputation Stadium Tour       2018     53
5        Madonna                             The MDNA Tour       2012     88
6    Celine Dion                 Taking Chances World Tour  2008–2009    131
7           Pink                         Summer Carnival †  2023–2024     41
8        Beyoncé                  The Formation World Tour       2016     49
9   Taylor Swift                       The 1989 World Tour       2015     85
10       Beyoncé           The Mrs. Carter Show World Tour  2013–2014    132
11     Lady Gaga                   The Monster Ball Tour *  2009–2011    203
12    Katy Perry                      Prismatic World Tour  2014–2015    151
13          Cher  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325
14       Madonna                          Confessions Tour       2006     60
15          Pink                 The Truth About Love Tour  2013–2014    142
16     Lady Gaga                        Born This Way Ball  2012–2013     98
17       Madonna                          Rebel Heart Tour  2015–2016     82
18         Adele                           Adele Live 2016  2016–2017    121
19  Taylor Swift                              The Red Tour  2013–2014     86

   average_gross       ref
0    $13,928,571       [1]
1    $10,353,571       [3]
2     $4,835,294       [6]
3     $2,546,795       [7]
4     $6,522,173       [8]
5     $3,467,709       [9]
6     $2,137,405      [11]
7     $6,282,927      [12]
8     $5,226,215      [13]
9     $2,945,882      [14]
10    $1,735,606  [15][16]
11    $1,118,227      [18]
12    $1,350,993      [19]
13      $615,385      [20]
14    $3,233,333       [5]
15    $1,295,775      [22]
16    $1,734,694       [d]
17    $2,070,732       [4]
18    $1,385,950      [25]
19    $1,744,186      [26]
Index(['rank', 'peak', 'all_time_peak', 'actual_gross',
       'adjusted_gross_in_2022_dollars', 'artist', 'tour_title', 'year_s',
       'shows', 'average_gross', 'ref', 'TEST'],
      dtype='object')

     rank   peak all_time_peak     actual_gross adjusted_gross_in_2022_dollars  \
0      1      1             2     $780,000,000                   $780,000,000
1      2      1          7[2]     $579,800,000                   $579,800,000
2      3   1[4]          2[5]     $411,000,000                   $560,622,615
3      4   2[7]         10[7]     $397,300,000                   $454,751,555
4      5   2[4]           NaN     $345,675,146                   $402,844,849
5      6   2[4]         10[9]     $305,158,363                   $388,978,496
6      7  2[10]           NaN     $280,000,000                   $381,932,682
7      7    NaN           NaN     $257,600,000                   $257,600,000
8      9    NaN           NaN     $256,084,556                   $312,258,401
9     10    NaN           NaN     $250,400,000                   $309,141,878
10    11    NaN           NaN  $229,100,000[b]                   $283,202,896
11    12    NaN        14[17]     $227,400,000                   $295,301,479
12    13    NaN           NaN     $204,000,000                   $251,856,802
13    14  1[20]           NaN     $200,000,000                   $299,676,265
14    15   2[c]           NaN     $194,000,000                   $281,617,035
15    16    NaN           NaN     $184,000,000                   $227,452,347
16    17    NaN           NaN     $170,000,000                   $213,568,571
17    18    NaN           NaN     $169,800,000                   $207,046,755
18    19    NaN           NaN  $167,700,000[e]                   $204,486,106
19    20    NaN           NaN     $150,000,000                   $185,423,109

          artist                                tour_title     year_s  shows  \
0   Taylor Swift                           The Eras Tour †  2023–2024     56
1        Beyoncé                    Renaissance World Tour       2023     56
2        Madonna               Sticky & Sweet Tour ‡[4][a]  2008–2009     85
3           Pink               Beautiful Trauma World Tour  2018–2019    156
4   Taylor Swift                   Reputation Stadium Tour       2018     53
5        Madonna                             The MDNA Tour       2012     88
6    Celine Dion                 Taking Chances World Tour  2008–2009    131
7           Pink                         Summer Carnival †  2023–2024     41
8        Beyoncé                  The Formation World Tour       2016     49
9   Taylor Swift                       The 1989 World Tour       2015     85
10       Beyoncé           The Mrs. Carter Show World Tour  2013–2014    132
11     Lady Gaga                   The Monster Ball Tour *  2009–2011    203
12    Katy Perry                      Prismatic World Tour  2014–2015    151
13          Cher  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325
14       Madonna                          Confessions Tour       2006     60
15          Pink                 The Truth About Love Tour  2013–2014    142
16     Lady Gaga                        Born This Way Ball  2012–2013     98
17       Madonna                          Rebel Heart Tour  2015–2016     82
18         Adele                           Adele Live 2016  2016–2017    121
19  Taylor Swift                              The Red Tour  2013–2014     86

   average_gross       ref  TEST
0    $13,928,571       [1]   NaN
1    $10,353,571       [3]   NaN
2     $4,835,294       [6]   NaN
3     $2,546,795       [7]   NaN
4     $6,522,173       [8]   NaN
5     $3,467,709       [9]   NaN
6     $2,137,405      [11]   NaN
7     $6,282,927      [12]   NaN
8     $5,226,215      [13]   NaN
9     $2,945,882      [14]   NaN
10    $1,735,606  [15][16]   NaN
11    $1,118,227      [18]   NaN
12    $1,350,993      [19]   NaN
13      $615,385      [20]   NaN
14    $3,233,333       [5]   NaN
15    $1,295,775      [22]   NaN
16    $1,734,694       [d]   NaN
17    $2,070,732       [4]   NaN
18    $1,385,950      [25]   NaN
19    $1,744,186      [26]   NaN
FILE LOADED:



FILE LOADED:

      Rank   Peak All Time Peak     Actual gross  \
0      1      1             2     $780,000,000
1      2      1          7[2]     $579,800,000
2      3   1[4]          2[5]     $411,000,000
3      4   2[7]         10[7]     $397,300,000
4      5   2[4]           NaN     $345,675,146
5      6   2[4]         10[9]     $305,158,363
6      7  2[10]           NaN     $280,000,000
7      7    NaN           NaN     $257,600,000
8      9    NaN           NaN     $256,084,556
9     10    NaN           NaN     $250,400,000
10    11    NaN           NaN  $229,100,000[b]
11    12    NaN        14[17]     $227,400,000
12    13    NaN           NaN     $204,000,000
13    14  1[20]           NaN     $200,000,000
14    15   2[c]           NaN     $194,000,000
15    16    NaN           NaN     $184,000,000
16    17    NaN           NaN     $170,000,000
17    18    NaN           NaN     $169,800,000
18    19    NaN           NaN  $167,700,000[e]
19    20    NaN           NaN     $150,000,000

   Adjusted gross (in 2022 dollars)        Artist  \
0                      $780,000,000  Taylor Swift
1                      $579,800,000       Beyoncé
2                      $560,622,615       Madonna
3                      $454,751,555          Pink
4                      $402,844,849  Taylor Swift
5                      $388,978,496       Madonna
6                      $381,932,682   Celine Dion
7                      $257,600,000          Pink
8                      $312,258,401       Beyoncé
9                      $309,141,878  Taylor Swift
10                     $283,202,896       Beyoncé
11                     $295,301,479     Lady Gaga
12                     $251,856,802    Katy Perry
13                     $299,676,265          Cher
14                     $281,617,035       Madonna
15                     $227,452,347          Pink
16                     $213,568,571     Lady Gaga
17                     $207,046,755       Madonna
18                     $204,486,106         Adele
19                     $185,423,109  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross  \
0                            The Eras Tour †  2023–2024     56   $13,928,571
1                     Renaissance World Tour       2023     56   $10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3                Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4                    Reputation Stadium Tour       2018     53    $6,522,173
5                              The MDNA Tour       2012     88    $3,467,709
6                  Taking Chances World Tour  2008–2009    131    $2,137,405
7                          Summer Carnival †  2023–2024     41    $6,282,927
8                   The Formation World Tour       2016     49    $5,226,215
9                        The 1989 World Tour       2015     85    $2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132    $1,735,606
11                   The Monster Ball Tour *  2009–2011    203    $1,118,227
12                      Prismatic World Tour  2014–2015    151    $1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325      $615,385
14                          Confessions Tour       2006     60    $3,233,333
15                 The Truth About Love Tour  2013–2014    142    $1,295,775
16                        Born This Way Ball  2012–2013     98    $1,734,694
17                          Rebel Heart Tour  2015–2016     82    $2,070,732
18                           Adele Live 2016  2016–2017    121    $1,385,950
19                              The Red Tour  2013–2014     86    $1,744,186

        Ref.
0        [1]
1        [3]
2        [6]
3        [7]
4        [8]
5        [9]
6       [11]
7       [12]
8       [13]
9       [14]
10  [15][16]
11      [18]
12      [19]
13      [20]
14       [5]
15      [22]
16       [d]
17       [4]
18      [25]
19      [26]

CLEANSED FILE: COLUMNS DROPPED:
     Rank   Peak All Time Peak     Actual gross  \
0      1      1             2     $780,000,000
1      2      1          7[2]     $579,800,000
2      3   1[4]          2[5]     $411,000,000
3      4   2[7]         10[7]     $397,300,000
4      5   2[4]           NaN     $345,675,146
5      6   2[4]         10[9]     $305,158,363
6      7  2[10]           NaN     $280,000,000
7      7    NaN           NaN     $257,600,000
8      9    NaN           NaN     $256,084,556
9     10    NaN           NaN     $250,400,000
10    11    NaN           NaN  $229,100,000[b]
11    12    NaN        14[17]     $227,400,000
12    13    NaN           NaN     $204,000,000
13    14  1[20]           NaN     $200,000,000
14    15   2[c]           NaN     $194,000,000
15    16    NaN           NaN     $184,000,000
16    17    NaN           NaN     $170,000,000
17    18    NaN           NaN     $169,800,000
18    19    NaN           NaN  $167,700,000[e]
19    20    NaN           NaN     $150,000,000

   Adjusted gross (in 2022 dollars)        Artist  \
0                      $780,000,000  Taylor Swift
1                      $579,800,000       Beyoncé
2                      $560,622,615       Madonna
3                      $454,751,555          Pink
4                      $402,844,849  Taylor Swift
5                      $388,978,496       Madonna
6                      $381,932,682   Celine Dion
7                      $257,600,000          Pink
8                      $312,258,401       Beyoncé
9                      $309,141,878  Taylor Swift
10                     $283,202,896       Beyoncé
11                     $295,301,479     Lady Gaga
12                     $251,856,802    Katy Perry
13                     $299,676,265          Cher
14                     $281,617,035       Madonna
15                     $227,452,347          Pink
16                     $213,568,571     Lady Gaga
17                     $207,046,755       Madonna
18                     $204,486,106         Adele
19                     $185,423,109  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross
0                            The Eras Tour †  2023–2024     56   $13,928,571
1                     Renaissance World Tour       2023     56   $10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3                Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4                    Reputation Stadium Tour       2018     53    $6,522,173
5                              The MDNA Tour       2012     88    $3,467,709
6                  Taking Chances World Tour  2008–2009    131    $2,137,405
7                          Summer Carnival †  2023–2024     41    $6,282,927
8                   The Formation World Tour       2016     49    $5,226,215
9                        The 1989 World Tour       2015     85    $2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132    $1,735,606
11                   The Monster Ball Tour *  2009–2011    203    $1,118,227
12                      Prismatic World Tour  2014–2015    151    $1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325      $615,385
14                          Confessions Tour       2006     60    $3,233,333
15                 The Truth About Love Tour  2013–2014    142    $1,295,775