In [1]:
%pip install import-ipynb
%pip install openpyxl
%pip install xlrd

import import_ipynb
# import load_data
# import clean_column_names
# import write_file_as_output
# import normalize_strings
# import fill_missing_values
# import text_to_numeric
# import drop_columns
import pandas as pd
import os
import re
import numpy as np

Requirement already satisfied: import-ipynb in c:\users\cessn\miniconda3\lib\site-packages (0.2)
Requirement already satisfied: IPython in c:\users\cessn\miniconda3\lib\site-packages (from import-ipynb) (9.2.0)
Requirement already satisfied: nbformat in c:\users\cessn\miniconda3\lib\site-packages (from import-ipynb) (5.10.4)
Requirement already satisfied: colorama in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.4.6)
Requirement already satisfied: decorator in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (2.19.1)
Requirement already satisfied: stack_data in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\cessn\miniconda3\lib\site-packages (from IPython->import-ipynb) (5.14.3)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\cessn\miniconda3\lib\site-packages (from nbformat->import-ipynb) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\cessn\miniconda3\lib\site-packages (from nbformat->import-ipynb) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\cessn\miniconda3\lib\site-packages (from nbformat->import-ipynb) (5.7.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\cessn\miniconda3\lib\site-packages (from jedi>=0.16->IPython->import-ipynb) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\cessn\miniconda3\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.25.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\cessn\miniconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->import-ipynb) (4.3.7)
Requirement already satisfied: pywin32>=300 in c:\users\cessn\miniconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->import-ipynb) (310)
Requirement already satisfied: wcwidth in c:\users\cessn\miniconda3\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->IPython->import-ipynb) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\cessn\miniconda3\lib\site-packages (from stack_data->IPython->import-ipynb) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\cessn\miniconda3\lib\site-packages (from stack_data->IPython->import-ipynb) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\cessn\miniconda3\lib\site-packages (from stack_data->IPython->import-ipynb) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openpyxl in c:\users\cessn\appdata\roaming\python\python313\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\cessn\appdata\roaming\python\python313\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: xlrd in c:\users\cessn\miniconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

# Data Cleansing Functions (THIS IS THE ACTUAL DATA CLEANER)

In [2]:
# # LOAD DATA
# def load_file(file_path):
#     print('Filepath: ',file_path)

#     # converts filepath extension to lowercase
#     ext = os.path.splitext(file_path)[-1].lower()

#     # Handle .csv files
#     """pd.read_csv expects a file path as its argument - above line of code will not work
#     because it is being passed a DataFrame/ Series object created by load file method and saved
#     to variable named 'file'
#     """
#     if ext in ['.csv']:
#         return pd.read_csv(file_path)

#     # Handle excel spreadsheet files
#     elif ext in ['.xls', '.xlsx']:
#         # return pd.read_excel(file_path, engine="openpyxl")|pd.read_excel(file_path, engine="xlrd")
#         return pd.read_excel(file_path, engine="openpyxl")
    
#     # All other files
#     else:
#         raise ValueError("Unsupported file type")

In [3]:
# # CREATE DATAFRAME FROM FILE AT SPECIFIED FILEPATH: NOTE- THIS CALLS load_file() function
# def create_dataframe(file_path):
#     # df_2 = ORIGINAL df_2
#     # df_2 = DataFrame to be cleansed
    
#     df_2 = load_file(file_path)

#     #Create FILE TO BE CLEANSED via deep copy of original df_2 to new variable 
#     df_2 = df_2.copy()
#     print(f"FILE READY FOR CLEANSING\n")
    
#     # print(df_2.info(),"\n")
#     # print(df_2.shape, "\n")
#     # # print(df_2_2.describe, "\n")

#     return df_2, file_path


# # FUNCTION CALL create_dataframe() function - NOTE: df_2_2 stores deep copied file on which actual data cleansing happens!
# # df_2, file_path = create_dataframe(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\data_scientist\csv_files\DataScientist2.csv')
# df_2, file_path = create_dataframe(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\example_import\example_import_original-MAIN.csv')
# print(f"{file_path}")

In [4]:
# # SUMMARIZE DATA SET
# ''' Ex: Column Names, '''

# def summarize_data(df_2):
#     print("DataFrame Information: '\n' ",)
#     print(df_2.info(),"\n")
#     print(f"Data Shape: (# of Rows, # of Columns): '\n' ", df_2.shape, "\n")
#     # print(df_2_2.describe, "\n")

#     # Show count of null values etc
#     print("SUM OF NULL/ BLANK VALUES: '\n' ", df_2.isnull().sum(), "\n")

# # CALL FUNCTION
# summary_data = summarize_data(df_2)

In [5]:
# # WRITE CLEANSED FILE AS OUTPUT 
# def output_file(df_2, file_path):
#     output_path = r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\example_import\cleaned_data'
#     # MAKE SURE TO LIST FULL PATH TO OUTPUT FILE OTHERWISE FILL WILL BE WRITTEIN IN DIRECTORY IN WHICH THIS FILE RESIDES!
#     # df_2.to_csv(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\city_of_baton_rouge\cats\Bus_Stop_CLEANSED.csv')
#     df_2.to_csv(output_path)
#     print(f"Cleaned data saved!")

In [6]:
# # NORMALIZE/ STANDARDIZE: COLUMN NAMES (ALL DATASETS)

# # Clean column names
# ''' Captures all column names in DataFrame + Does following actions:
# 1. Strip whitespace (both left/right side of string)
# 2. Convert column names to all lowercase
# 3. Locates regex pattern specified (replaces any char that is NOT a letter or number with an underscore)
# 4. str.strip('_') removes any underscore characters at start/ end of string 
# (https://www.w3schools.com/python/ref_string_strip.asp)
# '''
# def clean_column_names(df_2):
#     df_2.columns = (
#         df_2.columns.str.strip()
#                   .str.lower()
#                   .str.replace(r'[^a-z0-9]+', '_', regex=True)
#                   # .str.strip('_')
#     )
#     return df_2

# # CALL FUNCTION
# df_2 = clean_column_names(df_2)
# # write_output(file_path)

In [7]:
# # NORMALIZE/ STANDARDIZE: EMAIL ADDRESSES (CRM DATASETS)
# def cleanse_email_address(df_2):
#     # df_2["email"].str.strip()
#     # df_2.replace(r"[+AEA-]{1}", "@", regex=True)
#     # return df_2
#     df_2['email'] = df_2['email'].str.replace("+AEA-","@")
#     df_2['join_date'] = df_2['join_date'].str.replace("+AC0-","/") # STANDARDIZE DATES
#     return df_2

# # CALL FUNCTION:
# df_2 = cleanse_email_address(df_2)

In [8]:
# def standardize_names(df_2):
#     df_2['name'] = df_2['name'].str.lower()
#     df_2['name'] = df_2['name'].str.title() # Capitalize first letter of each name
#     return df_2

# # CALL FUNCTION:
# df_2 = standardize_names(df_2)
# df_2['name']

In [9]:
#

In [10]:
# print(df_2[['email', 'join_date']])

In [11]:
# df_2

In [12]:
# output_file(df_2, file_path)

In [13]:
# # FILL / REMOVE BLANKS AND/OR NULLS (N/A VALUES)
# # NOTE: ACTION TAKEN DEPENDS ON CONTEXT OF df_2/ ROW/ COLUMN AND/OR CLIENT PREFERENCE:

# '''
# Get count of na (Not a Number values) - df_2_copy.isna().sum¶
# Get count of null (null values) - df_2_copy.isnull().sum
# Get count of null / na values fpr specific column - df_2["column name"].isna() / df_2['column name'].isnull()
# For multiple columns pass a list of column names in - df_2.[["list_of_column_names"]].isna()
# '''
# def handle_blank_and_null_values(df_2):
        
#     # Return sum of all null values in all columns
#     print("STARTING SUM OF NULL/ BLANK VALUES: '\n' ", df_2.isnull().sum(), "\n")
#     print(df_2.isnull(), "\n")
    
#     # Note parameter inplace=True modifies current working copy of dataframe
#     # Otherwise will return a new datafram w/ requested information
#     # df_2_2.dropna(inplace=True, subset=["Job Title", "Job Description", "Industry"])
#     # df_2_2.dropna(inplace=True) - CONSULT W/ CLIENT BEFORE DROPPING ANYTHING!

#     for column in df_2:
#         if df_2[column].dtype == 'object':
#             df_2[column].fillna("NONE", inplace=True)
#         else:
#             df_2[column].fillna(0, inplace=True)

#     return df_2

    

# # CALL FUNCTION
# # NOTE: Argument passed in is df_2_2 w/ intent to overwrite existing version of df_2_2 at each step of cleansing process
# df_2 = handle_blank_and_null_values(df_2)
# print("FINAL: SUM OF NULL/ BLANK VALUES: '\n' ", df_2.isnull().sum(), "\n")

In [14]:
# # CLEAN COLUMN NAMES
# ''' Captures all column names in DataFrame + Does following actions:
# 1. Strip whitespace (both left/right side of string)
# 2. Convert column names to all lowercase
# 3. Locates regex pattern specified (replaces any char that is NOT a letter or number with an underscore)
# 4. str.strip('_') removes any underscore characters at start/ end of string 
# (https://www.w3schools.com/python/ref_string_strip.asp)
# '''
# def clean_column_names(df_2):
#     df_2.columns = (
#         df_2.columns.str.strip()
#                   .str.lower()
#                   .str.replace(r'[^a-z0-9]+', '_', regex=True)
#                   # .str.strip('_')
#     )
#     return df_2

# # CALL FUNCTION:

In [15]:
# DEFINE INPUT / OUTPUT DIRECTORIES
# input_folder = "raw_data"
# output_folder = "cleansed_data"

In [24]:
# AUTOMATED DATA CLEANER

# Define input and output directories
input_folder = "raw_data"
output_folder = "cleaned_data"

# Create output folder if it doesn't exist
os.makedirs(output_folder, exist_ok=True)


# LOAD DATA / CREATE DATAFRAME
# # CREATE DATAFRAME FROM FILE AT SPECIFIED FILEPATH: NOTE- THIS CALLS load_file() function
# def create_dataframe(input_folder):
#     # df_2 = ORIGINAL df_2
#     # df_2 = DataFrame to be cleansed
    
#     df_2 = load_file(file_path)

#     #Create FILE TO BE CLEANSED via deep copy of original df_2 to new variable 
#     df_2 = df_2.copy()
#     print(f"FILE READY FOR CLEANSING\n")
    
#     # print(df_2.info(),"\n")
#     # print(df_2.shape, "\n")
#     # # print(df_2_2.describe, "\n")

#     return df_2, file_path


# FUNCTION CALL create_dataframe() function - NOTE: df_2_2 stores deep copied file on which actual data cleansing happens!
# df_2, file_path = create_dataframe(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\data_scientist\csv_files\DataScientist2.csv')
# df_2, file_path = create_dataframe(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\example_import\example_import_original-MAIN.csv')
# print(f"{file_path}")

# DATA CLEANSING FUNCTIONS
# # SUMMARIZE DATA SET
def summarize_data():
    print("DataFrame Information: '\n' ",)
    print(df_2.info(),"\n")
    print(f"Data Shape: (# of Rows, # of Columns): '\n' ", df_2.shape, "\n")
    # print(df_2_2.describe, "\n")

    # Show count of null values etc
    print("SUM OF NULL/ BLANK VALUES: '\n' ", df_2.isnull().sum(), "\n")

# CALL FUNCTION
# summarize_data()

# SHOW DATASET SAMPLE WHILE DIRTY (PRE-CLEANSING)
# def show_dirty_data():
#     print("DATA PRE-CLEANSE: '\n'")
#     # print(df_2)

# CALL FUNCTION
# show_dirty_data
          
# NORMALIZE/ STANDARDIZE: COLUMN NAMES (ALL DATASETS)
# Clean column names
''' Captures all column names in DataFrame + Does following actions:
1. Strip whitespace (both left/right side of string)
2. Convert column names to all lowercase
3. Locates regex pattern specified (replaces any char that is NOT a letter or number with an underscore)
4. str.strip('_') removes any underscore characters at start/ end of string 
(https://www.w3schools.com/python/ref_string_strip.asp)
'''
def clean_column_names(df_2):
    df_2.columns = (
        df_2.columns.str.strip()
                  .str.lower()
                  .str.replace(r'[^a-z0-9]+', '_', regex=True)
                  # .str.strip('_')
    )
    return df_2

# CALL FUNCTION
# df_2 = clean_column_names(df_2)
# df_2.columns()

# NORMALIZE/ STANDARDIZE: EMAIL ADDRESSES (CRM DATASETS)
def cleanse_email_address(df_2):
    # df_2["email"].str.strip()
    # df_2.replace(r"[+AEA-]{1}", "@", regex=True)
    # return df_2
    df_2['email'] = df_2['email'].str.replace("+AEA-","@")
    # df_2['join_date'] = df_2['join_date'].str.replace("+AC0-","/") # STANDARDIZE DATES
    df_2['email']
    return df_2

# CALL FUNCTION:
# df_2 = cleanse_email_address(df_2)
# df_2['email']

def standardize_names(df_2):
    df_2['name'] = df_2['name'].str.lower()
    df_2['name'] = df_2['name'].str.title() # Capitalize first letter of each name
    return df_2


# FILL BLANKS/ NULLS
def fill_missing_values(df_2):
    df_2["phone_number"] = df_2["phone_number"].replace("nan", np.nan)
    df_2["phone_number"] = df_2["phone_number"].fillna("NONE")
    return df_2


phone_number_pattern = re.compile(r"[\+\s\(\)-.]")
def standardize_phone_numbers(df_2):

    # REMOVE ALL NON-DIGIT CHARS FROM PHONE NUMBERS
    df_2["phone_number"] = df_2["phone_number"].apply(lambda x: re.sub(r'[(),\s\.\-]', '', x))

    # REMOVE +1 FROM BEGINNING OF PHONE NUMBERS
    plus_one = r"^\+\d"
    plus_one_formatted = ""
    df_2["phone_number"] = df_2["phone_number"].apply(lambda x: re.sub(plus_one, plus_one_formatted, x))

    # INSERT HYPHENS INTO PHONE NUMBERS USING BACK REFERENCES IN FORMATTED / REPLACEMENT PATTERN
    search_pattern = r"(\d{3})(\d{3})(\d{4})"
    formatted_pattern = r"\1-\2-\3"
    df_2["phone_number"] = df_2["phone_number"].apply(lambda x: re.sub(search_pattern, formatted_pattern, x))

    return df_2

def standardize_city_names(df_2):

    # TITLE CASE CITY NAMES (CAPITALIZE FIRST LETTER OF EACH CITY NAME)
    df_2["city"] = df_2["city"].apply(lambda x: re.sub(x, x.title(), x))
    return df_2

        

# CALL FUNCTION:
# df_2 = standardize_names(df_2)
# df_2['name']


# Function to clean individual DataFrame

# def clean_dataframe(df):
#     df = df.drop_duplicates()
    
#     # Fill missing values
#     df['email'] = df['email'].fillna('unknown@example.com')
#     df['phone'] = df['phone'].fillna('N/A')

#     # Normalize text
#     df['name'] = df['name'].str.strip().str.title()
#     df['city'] = df['city'].str.strip().str.title()

#     # Format dates
#     df['registration_date'] = pd.to_datetime(df['registration_date'], errors='coerce')
#     df['registration_date'] = df['registration_date'].dt.strftime('%Y-%m-%d')

#     # Drop rows with missing customer_id
#     df = df.dropna(subset=['customer_id'])

#     return df

# Process each CSV in the folder

for filename in os.listdir(input_folder):
    print("FILENAME:'\n'",filename)
    if filename.endswith(".csv"):
        file_path = os.path.join(input_folder, filename)
        print("FILEPATH: " '\n', file_path)
        try:
            df = pd.read_csv(file_path)
            df_2 = df.copy()
            
            summarize_data()

            # # show_dirty_data()
            # print("DATASET PRE-CLEANSE: '\n' ")
            # df_2

            df_2 = clean_column_names(df_2)
            print(df_2.columns, "\n")
            
            df_2 = cleanse_email_address(df_2)
            print(df_2["email"], "\n")
            
            df_2 = standardize_names(df_2)
            print(df_2["name"], "\n")

            df_2 = fill_missing_values(df_2)
            # print(df_2["phone_number"], "\n")

            df_2 = standardize_phone_numbers(df_2)
            print(df_2["phone_number"], "\n")

            DF_2 = standardize_city_names(df_2)
            print(df_2["city"], "\n")
            
            output_path = os.path.join(output_folder, f"cleaned_{filename}")
            print("OUTPUT_PATH: " '\n', output_path)
            df_2.to_csv(output_path, index=False)

            print(f"✅ Cleaned: {filename} → {output_path}")

        except Exception as e:
            print(f"❌ Failed to process {filename}: {e}")
            
# CALL FUNCTION
# clean_data()

FILENAME:'
' .~lock.messy_crm_dataset.csv#
FILENAME:'
' messy_crm_dataset.csv
FILEPATH:
 raw_data\messy_crm_dataset.csv
DataFrame Information: '
'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        500 non-null    object
 1   name               500 non-null    object
 2   email              475 non-null    object
 3   phone_number       482 non-null    object
 4   city               500 non-null    object
 5   registration_date  487 non-null    object
dtypes: object(6)
memory usage: 23.6+ KB
None

Data Shape: (# of Rows, # of Columns): '
'  (500, 6)

SUM OF NULL/ BLANK VALUES: '
'  customer_id           0
name                  0
email                25
phone_number         18
city                  0
registration_date    13
dtype: int64

Index(['customer_id', 'name', 'email', 'phone_number', 'city',
       'registration_date'],
      dtype='object')

0       caitlinbraun941@yahoo.com
1           johnbrown577@yahoo.co
2          barbarawalls@gmail.org
3           lynncoleman@yahoo.org
4         jamesstevenson@gmail.co
                  ...
495      jeffreyjordan@gmail16.co
496    josehanson898@hotmail10.us
497         carlosdean@example.us
498           jackwhite@gmail.net
499       hunterrobinson@yahoo.co
Name: email, Length: 500, dtype: object

0        Caitlin Braun
1           John Brown
2        Barbara Walls
3         Lynn Coleman
4      James Stevenson
            ...
495     Jeffrey Jordan
496        Jose Hanson
497        Carlos Dean
498         Jack White
499    Hunter Robinson
Name: name, Length: 500, dtype: object

0      528-661-4506
1      485-203-6208
2      541-570-3780
3      801-750-9883
4      211-858-4312
           ...
495    293-158-7271
496    867-628-1917
497    136-343-5784
498    989-954-9166
499    912-560-4540
Name: phone_number, Length: 500, dtype: object

0           Robertsview
1              Combston
2              New Mary
3            Donnaburgh
4          North Morgan
             ...
495     North Aprilfort
496        West Michael
497    East Yvonnehaven
498        South Amanda
499      New Amandatown
Name: city, Length: 500, dtype: object

OUTPUT_PATH:
 cleaned_data\cleaned_messy_crm_dataset.csv
✅ Cleaned: messy_crm_dataset.csv → cleaned_data\cleaned_messy_crm_dataset.csv

In [ ]:
# # Process each CSV in the folder
# for filename in os.listdir(input_folder):
#     if filename.endswith(".csv"):
#         file_path = os.path.join(input_folder, filename)
#         try:
#             df = pd.read_csv(file_path)
#             df_2 = clean_dataframe(df)
            
#             output_path = os.path.join(output_folder, f"cleaned_{filename}")
#             cleaned_df.to_csv(output_path, index=False)
            
#             print(f"✅ Cleaned: {filename} → {output_path}")
#         except Exception as e:
#             print(f"❌ Failed to process {filename}: {e}")

# DO NOT ADD CODE BELOW THIS POINT!

# 8 Most Common Data Cleansing Techniques:
## 1. Dropping Columns:
cols_to_drop = ["column_names_to_be_dropped"] > df_2_copy.drop(to_drop, axis = 1) NOTE: axis = 0 (rows) axis = 1 (columns)

In [7]:
# # Drop irrelevant/ unnecessary columns THIS BECOMES AN EXAMPLE!
# cols_to_drop = ["ROUTE NO. 1",
#                'ROUTE NO. 2','ROUTE NO. 3',
#                'ROUTE NO. 4','ROUTE NO. 5','ROUTE NO. 6',
#                 'ROUTE NO. 7','ROUTE NO. 8','ROUTE NO. 9','ROUTE NO. 10',
#                "GEOMETRY",]

# df_2_2 = df_2_2.drop(cols_to_drop, axis = 1)
# output_file(df_2_2)

In [8]:
# FUNCTION
def drop_columns(df_2_2):
    cols_to_drop = ["ROUTE NO. 1",
               'ROUTE NO. 2','ROUTE NO. 3',
               'ROUTE NO. 4','ROUTE NO. 5','ROUTE NO. 6',
                'ROUTE NO. 7','ROUTE NO. 8','ROUTE NO. 9','ROUTE NO. 10',
               "GEOMETRY",]
    df_2_2 = df_2_2.drop(cols_to_drop, axis = 1)
    return df_2_2

In [9]:
# CALL DROP COLUMNS FUNCTION
df_2_2 = drop_columns(df_2_2)

# 2. Removing Duplicates
## Info - https://www.w3schools.com/python/pandas/ref_df_2_duplicated.asp

Syntax: <br>
get duplicates returned in DataFrame Format: df_2_copy[df_2_copy.duplicated()] <br>
get duplicates returned in Text Format: df_2_copy.duplicated()

# Sum total number of duplicate rows in DataFrame BEFORE dropping dupes
# Write this to report for client later (When getting ready to add reporting capabilities) <br>


## SYNTAX EXAMPLES: <br>
#  Sum total number of duplicate rows in DataFrame BEFORE Dropping dupes (Reporting purposes): df_2_2.duplicated().sum()

# Drop duplicates - NOTE use of inplace parameter will perform action on existing DataFrame. If inplace parameter is omitted drop_duplicates() function will return a new DataFrame object that then needs to be assigned: <br>
df_2_2.drop_duplicates(inplace=True) - drops duplicates on original DataFrame "inplace"

# Note use of assignment operator (=) - dropping duplicates in pandas returns a new DataFrame object cleansed of duplicate values UNLESS the inplace=True parameter is set. Notice abscence of inplace parameter in example below: <br>
df_2_2 = df_2_2.drop_duplicates()

In [10]:
def drop_duplicates(df_2_2):
    df_2_2 = df_2_2.drop_duplicates()

    # Write cleansed file to output
    output_file(df_2_2)
    
    return df_2_2

In [11]:
# CALL DROP DUPLICATES FUNCTION
df_2_2 = drop_duplicates(df_2_2)
df_2_2

Cleaned data saved!

,STOP ID,NAME,BENCH,SHELTER,SHELTER TYPE,RIDERSHIP ON,RIDERSHIP OFF,RIDERSHIP TOTAL,STOP DIRECTION,ROUTE NO.
0,1193.0,Mills @ Scenic Hwy,NB,NO,NaN,511.0,463.0,974.0,S,11.0
1,2824.0,Cedarcrest Ave @ Seracedar St,NaN,NO,NaN,NaN,NaN,NaN,S,58.0
2,1191.0,Woodpecker @ Merganzer,NaN,NO,NaN,479.0,153.0,632.0,S,11.0
3,1177.0,Blount @ Tallow,NaN,NO,NaN,319.0,460.0,779.0,W,11.0
4,1593.0,Acadian @ Oswego,NaN,NO,NaN,166.0,440.0,606.0,N,20.0
...,...,...,...,...,...,...,...,...,...,...
1694,1105.0,Scenic @ Scotlandville Library,NaN,YES,REFURBISHED,1814.0,790.0,2604.0,S,10.0
1695,1996.0,Florida @ Eugene,NaN,NO,NaN,824.0,3722.0,4546.0,W,44.0
1696,1514.0,East Airport @ Goodwood,NB,NO,NaN,123.0,117.0,240.0,W,18.0
1697,1386.0,Thomas H Delpit @ Taft,NaN,NO,NaN,163.0,41.0,204.0,S,14.0
1698,1720.0,Airway @ Leo Skating,NaN,NO,NaN,257.0,189.0,446.0,S,21.0

# 3. Removing/ Dropping Irrelevant/ Unnecessary Rows
Syntax Ex: <br>
Check for Jobs located in State of Ohio in DataFrame: <br>
df_2_copy['Location'].str.contains("Oh", case=False) <br> <br>
df_2_copy['solumn_Name'].str.contains("specified_String", case=False) <br>

# 4. Removing Nulls and Blanks

## https://www.w3schools.com/python/pandas/ref_df_2_dropna.asp <br>
NOTE: df_2_dropna() method offers more flexibility in what is dropped. <br>
## https://www.w3schools.com/python/pandas/ref_df_2_drop.asp <br>


## Get count of na (Not a Number values) - df_2_copy.isna().sum <br>

## Get count of null (null values) - df_2_copy.isnull().sum<br>
## Get count of null / na values fpr specific column - df_2["column name"].isna() / df_2['column name'].isnull()<br>
## For multiple columns pass a list of column names in - df_2.[["list_of_column_names"]].isna()

In [11]:
# Example: Drop rows where all values are null/blank
df_2_2.dropna(axis=0, how='all', inplace=True)

In [12]:
output_file(df_2_2)

Cleaned data saved!

# 4B - Filling Nulls / Blanks
## https://www.w3schools.com/python/pandas/ref_df_2_fillna.asp

In [13]:
# Cast value as appropriate data type before assignment
# df_2_2.loc[0, ['RIDERSHIP ON', 'RIDERSHIP OFF', 'RIDERSHIP TOTAL']] = float(0)

for column in df_2_2:
    if df_2_2[column].dtype == 'object':
        df_2_2[column].fillna("N/A", inplace=True)
    df_2_2[column].fillna(0, inplace=True)

C:\Users\Cessn\AppData\Local\Temp\ipykernel_16712\130094186.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleansed_file[column].fillna(0, inplace=True)
C:\Users\Cessn\AppData\Local\Temp\ipykernel_16712\130094186.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleansed_file[column].fillna("N/A", inplace=True)

In [14]:
output_file(df_2_2)

Cleaned data saved!

# 5 - Standardizing Values (6:26)

# SYNTAX Examples: <br>
# NOTE use df_2.loc as shown below to get specific column info: <br>
df_2_copy.loc[row_indexer, ["column_name"]] <br>
df_2_copy.loc[0:, ["column_name"]]

In [15]:
# NOTE use df_2.loc as shown below to get specific column info
# df_2_copy.loc[0:, ["Job Title"]]

In [16]:
# Return all elements in Job Title column where Job Title string contains a specific word
# df_2_copy[df_2_copy["Job Title"].str.contains('scientist', case=False)]

In [17]:
# Standardize all strings containing word scientist to read "Data Scientist"
# df_2_copy.loc[df_2_copy["Job Title"].str.contains("scientist", case=False), "Job Title"] = "Data Scientist"

In [18]:
# Check to ensure fields in Job Title Column have been updated
# df_2_copy.loc[:, "Job Title"]

In [19]:
# Capture /show all strings containing the letter k or K in column Salary Estimate 
# df_2_copy.loc[df_2_copy["Salary Estimate"].str.contains("k", case=False), "Salary Estimate"]

In [20]:
# Replace letter "k" Salary Estimate column with 000 
# Final value: 181K - 182K > 181000 - 182000

# Use dictionay object as per below syntax examples:

# replace_dict ={"\$": "", 
#                "K": "000",
#               }
# df_2_copy["Salary Estimate"] = df_2_copy['Salary Estimate'].replace(replace_dict, regex=True)

In [21]:
# df_2_copy["Salary Estimate"]

# 6 - Splitting Columns 8:16
## Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html <br>
## Youtube: https://youtu.be/FbFQH_RNMu0?t=496

## Example Code: https://docs.google.com/document/d/15Ajf-MKtOWItDITu-kukbEeshtCyMC86htXgTiMZJOA/edit?tab=t.0

## SYNTAX EXAMPLES:

# 7 - Convert Datatypes <br>
## Youtube: https://youtu.be/FbFQH_RNMu0?t=613 <br>
## Code Examples: https://docs.google.com/document/d/1HiZYEBH_5RaNjvvVtOodOFB0z-ji_4kx-kF9pv1IE-U/edit?tab=t.0 <br>

## Convert datatype: multiple columns to datatype int: <br>
convert_dtypes ={'colName_1': 'int',
                'colName_2': 'int',} <br>
df_2 = df_2.astype(convert_dtypes) <br>

# CONVERT datatype of single column <br>
df_2['colName_1'] = df_2['colName_1'].astype("specify_datatype")

In [24]:
# CONVERT RIDERSHIP columns to data type INT from datatype FLOAT:
convert_dtypes ={'RIDERSHIP ON': 'int',
                'RIDERSHIP OFF': 'int',
                'RIDERSHIP TOTAL': 'int',}
df_2_2 = df_2_2.astype(convert_dtypes)

In [25]:
output_file(df_2_2)

Cleaned data saved!

# 8 - Stripping Strings <br>
## Youtube - https://youtu.be/FbFQH_RNMu0?t=648 <br>

## SYNTAX EXAMPLES
## Cleaning special / non-word characters from end of string: <br>
df_2 = df_2loc[:, 'column_Name'].str[:-4] - NOTE this cleans up to the last 4 characters of the string

In [9]:
test_df_2 = pd.read_csv(r'C:\Users\Cessn\OneDrive\Desktop\sample_datasets\data_scientist\csv_files\DataScientist2.csv')
test_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3912 entries, 0 to 3911
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3912 non-null   int64
 1   index              3912 non-null   int64
 2   Job Title          3911 non-null   object
 3   Salary Estimate    3912 non-null   object
 4   Job Description    3911 non-null   object
 5   Rating             3912 non-null   float64
 6   Company Name       3912 non-null   object
 7   Location           3912 non-null   object
 8   Headquarters       3911 non-null   object
 9   Size               3912 non-null   object
 10  Founded            3912 non-null   int64
 11  Type of ownership  3911 non-null   object
 12  Industry           3910 non-null   object
 13  Sector             3912 non-null   object
 14  Revenue            3912 non-null   object
 15  Competitors        3909 non-null   object
 16  Easy Apply         3912 non-null   object
dtypes: float64(1), int64(3), object(13)
memory usage: 519.7+ KB

In [16]:
for colName in test_df_2.columns:
    if colName == "Company Name":
        print(True)
    else:
        print(not True)

False
False
False
False
False
False
True
False
False
False
False
False
False
False
False
False
False